.tag-list
    &::before
        content: '标签：'
        font-size: .5em
    margin 0
    padding 0
    list-style: none
    .tag-list-item
        margin-right: 5px
        display: inline-block
        .tag-list-link
            font-size: .5em