<div id="article-list-container">
    <ul>
        <% page.posts.forEach((post, idx) => { %>
            <li>
                <a href="<%= url_for(post.path) %>">
                    <span class="article-title"><%= post.title %></span>
                </a>
                <% if (!theme.category_collapse) { %>
                    <%- list_categories(post.categories, {
                        show_count: false
                    }) %>
                <% } else { %>
                    <%- list_categories(post.categories, {
                        show_count: false,
                        style: false,
                        separator: ' '
                    }) %>
                <% } %> 
            </li>
        <% }); %>
    </ul>
</div>