<div id="header">
    <ul>
        <% theme.links.forEach(element => { %>
            <li><a href="<%= element.url %>">
                <%= element.title %>
            </a></li>
        <% }); %>
    </ul>
</div>